<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='changepassword.css')}}" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap" rel="stylesheet" />
    <title>Change Password</title>
  </head>
  <body>
    <div class="loginbox">
      <p class="title">Change Password</p>
      <br />
      <br />
      {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in
      messages %}
      <p style="text-align: center">{{ message }}</p>
      {% endfor %} {% endif %} {% endwith %}
      <br />
      <form method="post" action="{{url_for('change_password_process')}}">
        <input type="text" name="username" placeholder="username" required />
        <input type="password" id="password" name="oldpassword" placeholder="old password" required />
        <input type="password" name="newpassword" placeholder="new password" required />
        <input type="submit" class="submitt" />
      </form>
    </div>
  </body>
</html>
