<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='contactus.css')}}" />
    <title>Contact Us</title>
  </head>
  <body>
    <header>
      <a class="Gregtour" href="{{url_for('home')}}"
        ><h1>Greg's<span class="pink">Tour</span></h1></a
      >
      <a href="{{ url_for('login') }}" class="login-btn">{{a}}</a>
    </header>

    <p align="justify">
      If you have any questions, feedback, or require assistance related to the <b>2025 Greg Tour [Sway & Slay]</b>,
      feel free to reach out to our support team. We’re here to help you have the best concert experience possible!
    </p>

    <h2>Contact Information</h2>
    <ul>
      <li>Email: <a href="mailto:support@gregtour2025.com">support@gregtour2025.com</a></li>
      <li>Phone: +62 856-9508-9582</li>
      <li>Instagram: <a href="https://instagram.com/gregtour2025" target="_blank">@gregtour2025</a></li>
      <li>Twitter/X: <a href="https://twitter.com/gregtour2025" target="_blank">@gregtour2025</a></li>
    </ul>

    <h2>Send Us a Message</h2>
    <form style="margin-top: 10px">
      <table style="text-align: center" border="2px solid black">
        <tr>
          <td colspan="2"><input type="email" name="email" placeholder="Your Email" required /></td>
        </tr>
        <tr>
          <td colspan="2">
            <textarea name="message" placeholder="Your Message" rows="8" cols="50" required></textarea>
          </td>
        </tr>
        <tr>
          <td colspan="2"><button type="submit" style="margin-top: 20px">Send Message</button></td>
        </tr>
      </table>
    </form>

    <p align="center" style="margin-top: 30px">
      We typically respond within 24 - 48 hours. Thank you for your support!
    </p>

    <footer>
      <p class="terms">
        By purchasing a ticket for 2025 Greg Tour [Sway & Slay] In Indonesia, the Event Attendee has agreed to all
        applicable Terms and Conditions. All forms of violation of the terms and conditions will be dealt with strictly.
      </p>
      <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('contact') }}">Contact us</a>
      </nav>
    </footer>
  </body>
</html>
