<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}" />
    <title>Home</title>
  </head>
  <body>
    <div class="titles">
      <a href="home.html">Greg Tour</a>
    </div>
    <nav>
      <a href="about.html">Judul</a>
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contactus.html">Contact Us</a></li>
      </ul>
    </nav>

    <h3 align="right">Halo {{a}}</h3>

    <h1>2025 Greg Tour [Sway & Slay] In Indonesia</h1>
    <h2>Location</h2>
    <ul>
      <li><a href="lokasi1.html">Jakarta</a></li>
      <li><a href="lokasi2.html">Bandung</a></li>
      <li><a href="lokasi3.html">Surabaya</a></li>
    </ul>

    <h2>Terms & Conditions</h2>
    <p align="justify">
      Dengan membeli tiket <b>2025 Greg Tour [Sway & Slay] In Indonesia</b>, Pembeli telah menyetujui semua
      <b>Syarat dan Ketentuan yang berlaku.</b> Segala bentuk pelanggaran atas ketentuan dari pihak Penyelenggara akan
      ditindak secara tegas.
    </p>
    <p align="justify">
      <i
        >By purchasing a ticket for <b>2025 Greg Tour [Sway & Slay] In Indonesia</b>, the Event Attendee has agreed to
        all applicable <b>Terms and Conditions.</b> All forms of violation of the terms and conditions will be dealt
        with strictly.</i
      >
    </p>

    <h3>Ticketing</h3>
    <p align="justify"></p>
    <ul>
      <li>
        Semua harga belum termasuk Pajak Pemerintah 10% dan belum termasuk Biaya Layanan Tiket 5%. <br /><i
          >All Prices exclude 10% government tax and a ticketing platform fee of 5%.</i
        >
      </li>
      <br />
      <li>
        Tiket yang sudah dibeli tidak dapat ditukar, diuangkan kembali, ataupun dibatalkan <br /><i
          >Purchased tickets cannot be exchanged, refunded, or canceled.</i
        >
      </li>
    </ul>
  </body>
</html>
