<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
    <title>Home</title>
    <style>
      .password-container {
        position: relative;
        width: 312px;
      }

      input[type="password"],
      input[type="text"] {
        width: 312px;
        padding: 10px;
        padding-right: 40px;
        box-sizing: border-box;
      }

      .toggle-password {
        color: gray;
        width: 21px;
        height: 21px;
        position: absolute;
        top: 46%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        user-select: none;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Greg's<span class="pink">Tour</span></h1>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in
    messages %} {% if category == 'danger' %}
    <p class="flash-{{ category }} alertpassword">{{ message }}</p>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="loginbox">
      <form action="login/process" method="post">
        <table>
          <tr>
            <td>
              <input type="text" name="username" placeholder="username" />
            </td>
          </tr>
          <tr>
            <td>
              <div class="password-container" style="height: 48px">
                <input type="password" name="password" id="password" placeholder="Password" />
                <i id="pw" class="toggle-password bi bi-eye-fill" onclick="togglePassword()"></i>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: left">
              <div style="margin-bottom: 10px; margin-top: 6px">
                <a
                  href="{{url_for('change_password')}}"
                  style="margin-bottom: 5px; text-decoration: none; color: white; font-size: 15px"
                  >Change Password?</a
                >
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <input type="submit" name="login" value="Login" />
              <input type="reset" name="clear" value="Cancel" />
            </td>
          </tr>
          <tr>
            <td>
              <p id="dont">Don't have an account? <a id="regist" href="{{url_for('register')}}">Register</a></p>
            </td>
          </tr>
        </table>
      </form>
    </div>

    <footer>
      <p class="terms">
        By purchasing a ticket for 2025 Greg Tour [Sway & Slay] In Indonesia, the Event Attendee has agreed to all
        applicable Terms and Conditions. All forms of violation of the terms and conditions will be dealt with strictly.
      </p>
      <nav>
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('about')}}">About</a>

        <div class="contact-wrapper">
          <a href="{{url_for('contact')}}" id="contact">Contact us</a>
          <div class="tooltip">
            <div class="tooltip-arrow"></div>
          </div>
        </div>
      </nav>
    </footer>
    <script>
      function togglePassword() {
        const passwordInput = document.getElementById("password");
        const toggleIcon = document.getElementById("pw");

        if (passwordInput.type === "password") {
          passwordInput.type = "text";
          toggleIcon.classList.remove("bi-eye-fill");
          toggleIcon.classList.add("bi-eye-slash-fill");
        } else {
          passwordInput.type = "password";
          toggleIcon.classList.remove("bi-eye-slash-fill");
          toggleIcon.classList.add("bi-eye-fill");
        }
      }
    </script>
  </body>
</html>
