<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Bandung</title>
  </head>
  <body>
    <nav>
      <a href="home.html">Judul</a>
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contactus.html">Contact Us</a></li>
      </ul>
    </nav>

    <h1>2025 Greg Tour [Sway & Slay] In Indonesia - Jakarta</h1>
    <h2>Event Details</h2>
    <table>
      <tr>
        <td>Date</td>
        <td>: Tuesday, 13 January 2025</td>
      </tr>
      <tr>
        <td>Time</td>
        <td>: 14.00 - 20.00</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>: Stadion Utama Gelora Bung Karno</td>
      </tr>
    </table>

    <h3>Venue Details</h3>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.3416328253597!2d106.80296609999999!3d-6.218600599999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f14d30079f01%3A0x2e74f2341fff266d!2sStadion%20Utama%20Gelora%20Bung%20Karno!5e0!3m2!1sid!2sid!4v1748688550651!5m2!1sid!2sid"
      width="500"
      height="200"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    <!--
    <img src="https://akcdn.detik.net.id/community/media/visual/2023/11/08/seating-plan-tiket-konser-coldplay-jakarta-2023.png?w=620&q=90" alt="">
    -->

    <h2>Ticket Sales</h2>
    <form action="">
      <!-- Festival -->
      <fieldset>
        <h3>Festival</h3>
        <ul>
          <li><i>Soundcheck</i></li>
          <li><i>Ticket includes government fee (10%) and platform fee (5%)</i></li>
        </ul>
        <table width="100%">
          <tr>
            <td><h3>Rp 3.220.000</h3></td>
            <td align="right">
              <select name="festival" onchange="updateSummary()" id="festival">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </td>
          </tr>
        </table>
      </fieldset>
      <br />
      <!-- Cat 2 -->
      <fieldset>
        <h3>CAT 2</h3>
        <ul>
          <li><i>Seating</i></li>
          <li><i>Ticket includes government fee (10%) and platform fee (5%)</i></li>
        </ul>
        <table width="100%">
          <tr>
            <td><h3>Rp. 2.702.500</h3></td>
            <td align="right">
              <select name="cat2" onchange="updateSummary()" id="cat2">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </td>
          </tr>
        </table>
      </fieldset>
      <br />
      <!-- Cat 3 -->
      <fieldset>
        <h3>CAT 3</h3>
        <ul>
          <li><i>Seating</i></li>
          <li><i>Ticket includes government fee (10%) and platform fee (5%)</i></li>
        </ul>
        <table width="100%">
          <tr>
            <td><h3>Rp. 2.242.500</h3></td>
            <td align="right">
              <select name="cat3" onchange="updateSummary()" id="cat3">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </td>
          </tr>
        </table>
      </fieldset>
      <br />
      <!-- Cat 4 -->
      <fieldset>
        <h3>CAT 4</h3>
        <ul>
          <li><i>Seating</i></li>
          <li><i>Ticket includes government fee (10%) and platform fee (5%)</i></li>
        </ul>
        <table width="100%">
          <tr>
            <td><h3>Rp. 1.552.500</h3></td>
            <td align="right">
              <select name="cat4" onchange="updateSummary()" id="cat4">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </td>
          </tr>
        </table>
      </fieldset>
    </form>

    <table border="1" cellpadding="10" cellspacing="0">
      <tr>
        <td colspan="2">Added tickets will be listed here</td>
      </tr>
      <tr>
        <td>Subtotal (<span id="ticketCount">0</span> ticket)</td>
        <td>Rp. <span id="subtotal">0</span></td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <button>Order Now</button>
        </td>
      </tr>
    </table>

    <script src="{{ url_for('static', filename='jumlah.js') }}"></script>
  </body>
</html>
