<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='register.css')}}" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <h1>Greg's<span class="pink">Tour</span></h1>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in
    messages %}
    <p class="flash-{{ category }} alertpassword">{{ message }}</p>
    {% endfor %} {% endif %} {% endwith %}

    <div class="regisbox">
      <form method="post" action="process">
        <table>
          <tr>
            <td><input type="text" name="username" placeholder="Username" required /></td>
          </tr>
          <tr>
            <td><input type="password" name="password" placeholder="Password" required /></td>
          </tr>
          <tr>
            <td><input type="password" name="confirmpw" placeholder="Confirm password" required /></td>
          </tr>
          <tr>
            <td>
              <input type="tel" name="phone" placeholder="Phone number" pattern="[0-9]{10,13}" class="phone" required />
            </td>
          </tr>
          <tr>
            <td>
              <input type="email" name="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />
            </td>
          <tr>
            <td>
              <div class="button-group">
                <input type="submit" value="Register" />
                <input type="reset" value="Cancel" id="reset" />
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <p>
                Already have an account? <b><a id="log" href="{{url_for('login')}}">Login</a></b>
              </p>
            </td>
          </tr>
        </table>
      </form>
    </div>

    <footer>
      <p class="terms">
        By purchasing a ticket for 2025 Greg Tour [Sway & Slay] In Indonesia, the Event Attendee has agreed to all
        applicable Terms and Conditions. All forms of violation of the terms and conditions will be dealt with strictly.
      </p>
      <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
        <a href="contactus.html">Contact us</a>
      </nav>
    </footer>
  </body>
</html>
