* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: url("bg.jpg") no-repeat center center/cover;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  animation: fadeIn ease forwards;
  -webkit-animation: fadeIn 2s ease forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.pink {
  color: #ff00ff;
}

.about-container {
  text-align: center;
  padding: 50px 20px;
  max-width: 800px;
  margin: auto;
  flex: 1;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
  -webkit-animation: fadeIn 2s ease forwards;
}

.about-container ul {
  list-style-position: inside;
  padding-left: 0;
  margin: 20px auto;
  text-align: center;
  display: inline-block;
}

.about-container li {
  margin-bottom: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid black;
}

.login-btn {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.login-btn:hover {
  animation: fadeIn 1s ease forwards;
  opacity: 0.5;
  -webkit-animation: fadeIn 1s ease forwards;
}

footer {
  background-color: rgba(0, 0, 50, 0.8);
  padding: 10px;
  position: relative;
}

.terms {
  font-size: 12px;
  margin-bottom: 10px;
  padding: 0 15px;
  text-align: justify;
}

footer nav {
  display: flex;
  justify-content: space-around;
  background: #00247d;
  padding: 10px 0;
}

footer nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

footer nav a:hover {
  text-decoration: underline;
}
